# Support navigateurs pour Autoprefixer et autres outils

# Documentation : https://github.com/browserslist/browserslist#browserslist-
# Liste explicite à laquelle cela correspond : https://browserl.ist/?q=defaults%2C+not+IE+11%2C+not+IE_Mob+11

defaults
not IE 11
not IE_Mob 11
# not op_mini all